[Unit]
Description=whosyourdadde
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/whosyourdadde
ExecStart=python3 /home/ubuntu/whosyourdadde/whosyourdadde.py
Restart=on-failure

[Install]
WantedBy=multi-user.target