<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
              $('#dadbutton').click(function() {
                $.post('/', {  
                  name: $('#name').val(),
                }, function(response) {
                  $('#result').html(response.html);
                });
                return false;
              });
            });
        </script>
    </head>

    <body>
        <div class='container'>
            <br/>
            <h2>There's a reason they have that job.</h2>
            <form>
                <br/>
                <input id="name" type="text" size="30" value="{{prefill}}"/>
                <br/>
                <br/>
                <button id='dadbutton' class='btn btn-danger'>Who's their dad?</button>
            </form>
            <br>
            <div id='result'>{{value}}</div>
        </div>
    </body>
</html>